/* Reset y estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el cuerpo como mínimo de alto de la ventana */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background: linear-gradient(45deg, #6DDEFF, #3A7BD5);
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-content {
    flex: 1; /* Este contenido ocupará el espacio restante */
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.main-content h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.main-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

footer {
    background: linear-gradient(45deg, #3A7BD5, #6DDEFF);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Mantiene el pie de página al fondo */
}

footer p {
    margin: 0;
    font-size: 1rem;
}







